* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url(logo-alameeri_bg_page-0001.jpg);
    background-size: cover; /* This makes the image cover the entire div */
    background-position: center;
    border: none;
}


.h4, h4 {
    font-size: 1.5rem;
    margin-top: 40px;
}

.highlighted-text {
    font-size: 25px; /* Adjust font size */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.topic {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.sector-topic{
    text-align: left;
    font-weight: bold;
}

.topic_arabic {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.application-form {
    padding: 20px;
}

.application-form label {
    font-weight: bold;
}

.application-form input, 
.application-form select {
    margin-bottom: 15px;
    border-radius: 5px;
}

.btn-success {
    background-color: rgb(50, 150, 50); /* Green color for submit button */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s; 
}
.btn:hover {
    background-color: #5de061; /* Brighter green for the hover */
    box-shadow: 0 0 10px rgba(50, 157, 50, 0.4) /* Shiny glow effect */
}
.submit-message {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .sector-item {
        flex: 1 0 45%; /* Two items per row on small screens */
    }
}
