* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url(logo-alameeri_bg_page-0001.jpg);
    background-size: cover;
    background-position: center;
    border: none;
}
.h4, h4 {
    font-size: 1.5rem;
    margin-top: 40px;
}

.highlighted-text {
    color: rgb(211, 181, 12); /* Change text color */
    font-weight: bold; /* Make it bold */
    font-size: 2rem; /* Adjust font size */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); /* Optional text shadow */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.highlighted-info{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.highlighted-info2{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.sector-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
    gap: 1rem; /* Space between grid items */
    margin-bottom: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; /* Centering text */
}

.sector-item {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 1px 2px 9px rgba(165, 42, 42, 0.7); /* Text shadow effect */
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 34px;
    margin-bottom: 20px;
}
.topic{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topic_arabic{
    font-size: 50px;
}
.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control, .form-control-file {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.btn:hover {
    background-color: #5de061; /* Brighter green for the hover */
    box-shadow: 0 0 10px rgba(50, 157, 50, 0.4) /* Shiny glow effect */
}

.submit-message {
    text-align: center;
    font-size: 20px;
    color: gold;
    margin-top: 20px;
}
